$primary-color: gainsboro;
$secondary-color: #777;

body {
    margin: 0;
    background: linear-gradient($primary-color, $secondary-color);
    height: 100vh;
}

p {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: sans-serif;
    font-size: 48px;
}

.p5Canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
}
